html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    max-height: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: url(https://images.pexels.com/photos/707915/pexels-photo-707915.jpeg);
    background-size: cover
}

h1, h2, h3, h4, h5, h6, a{
    font-family: 'Crimson Text', serif;
    color: white;
    text-shadow: 1em;
    font-weight: 475;
   }

img {
    background-size: cover;
    opacity: 90%;
    z-index: -5;
}

.main {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size:x-large;
    text-align: center;
}

.aboutMain {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:x-large;
    text-align: center;
}

.navcontainer {
    position: absolute;
    top: 50%;
    left: 70%;
    right: 30%;
}

.navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 50%;
}

.aboutNavigation {
    position: absolute;
    top: 17.5%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    column-gap: .1%;
}

.navItems{
    padding: .75em;
    text-decoration: none
}

.navItems:hover {
    opacity: 50%;
    
}